.form-controlled-date-and-time-picker {
    &__inputs {
        display: flex;
        gap: 10px;

        input {
            flex: 2
        }

        button {
            flex: 1;
        }
    }
}